* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(33, 2, 67);
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    display: inline-flex;
    justify-content: center;
    background-color: #fff;
    width: 390px;
    height: 60px;
    padding-right: 10px;
}

.item input {
    flex: 1;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    font-size: 20px;
}

#btn {
    padding: 10px;
    display: flex;
    align-items: center;
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
}

.image1{
    width: 30px;
}